.postCard {
	display: flex;
	flex-direction: column;
	gap: 16px;
	box-sizing: border-box;
	border: 1px solid #f5f5f5;
	border-radius: 5px;
	padding: 10px;
	width: 350px;
	background: #fff;
	outline: none;
}

.postCard:focus {
	box-shadow: 0 0 0 2px #1473e6;
}

.poster {
	border-radius: 5px;
	width: 330px;
	height: 200px;
	background: #e5f4ff;
}

.description {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.top {
	display: flex;
	gap: 5px;
	align-items: center;
}

.dot {
	font-weight: 400;
	font-size: 12px;
	color: #6e6e6e;
}

.likeCount {
	margin-left: auto;
}

.title {
	font-weight: 700;
	font-size: 18px;
	color: #2c2c2c;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.paragraph {
	font-weight: 400;
	font-size: 14px;
	color: #6e6e6e;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 4; /*Для старой версии Chrome*/
	line-clamp: 4; /*Для новой версии Chrome*/
}

.bottom {
	display: flex;
	justify-content: space-between;
}
