.likeButton {
	cursor: pointer;
	padding: 0;
	background: none;
	border: 1px solid #303030;
	border-radius: 40px;
	width: 48px;
	height: 48px;
	transition: all 0.2s;
}

.likeButton:hover,
.likeButtonActive {
	background: #303030;
}

.likeButton:hover svg,
.likeButtonActive svg {
	stroke: #ffffff;
}
