.button {
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	padding: 0;
	cursor: pointer;
	border: none;
	font-weight: 400;
	font-size: 12px;
	text-align: right;
	color: #1473e6;
	background: none;
	transition: all 0.2s;
}

.button:hover {
	color: #014191;
}

.button:hover svg {
	stroke: #014191;
}
