.likeButton {
	display: inline-block;

	box-sizing: border-box;

	cursor: pointer;
	border: none;

	padding: 0;
	background: none;

	transition: all 0.2s;
}

.likeButton:hover svg,
.likeButton:active svg {
	stroke: #1473e6;
}
