.main {
	margin: 0 45px;
}

.title {
	font-weight: 700;
	font-size: 34px;
	color: #2c2c2c;
	margin: 0 0 10px 0;
}

.top {
	display: flex;
	gap: 10px;
	align-items: center;
}

.postTopic {
	font-weight: 400;
	font-size: 12px;
	color: #4b4b4b;
}

.dot {
	font-weight: 400;
	font-size: 12px;
	color: #6e6e6e;
}

.relativeCreationDate {
	font-weight: 400;
	font-size: 12px;
	color: #6e6e6e;
}

.readingTime {
	font-weight: 400;
	font-size: 12px;
	color: #6e6e6e;
}

.paragraph {
	font-weight: 400;
	font-size: 18px;
	color: #6e6e6e;
	margin-bottom: 30px;
}

.like {
	display: flex;
	gap: 30px;
	align-items: center;
	margin-bottom: 34px;
}

.h2 {
	font-size: 28px;
	font-weight: 700;
	color: #2c2c2c;
	margin: 0 0 20px 0;
}

.comments {
	display: flex;
	flex-direction: column;
	gap: 25px;
	align-items: center;
	margin-bottom: 23px;
}
